* {
    padding: 0;
    margin: 0;
    background-color: burlywood;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: #68f3f3;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block; 
    background-image: url("../images/Fliesen.jpg"); 
    background-size:cover;
}
#Death {
    position: relative;
    left: 560px;
}
#win {
    width: 1px;
    height: 1px;
  background-size: contain;
}
