* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: darksalmon;
}

h1 {
    font-size: 50px;
}
div.Vorschau {
    margin-left: auto;
    margin-right: auto;
    width:700px;
    height:370px;
    overflow:hidden;

 }
 div.Vorschau img {
    width: 700px;
    height: 400px; 
    left: auto;
    top: auto;
    }  
    .useless {
        color: darksalmon;
    }
a {
  position: fixed;
  top: auto;
  left: 48%;
  font-size: 50px;
  text-decoration: none;
  color: steelblue;
}
#control {
    position: fixed;
    left: 43%;
    font-size: 20px;
}
.flex-container {
    display: flex;
    background-color: black;
}
