* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: darksalmon;
}

h1 {
    font-size: 80px;
}
div.Vorschau {
    margin-left: 30%;
    width:1000px;
    height:570px;
    overflow:hidden;

 }
 div.Vorschau img {
    width: 1000px;
    height: 600px; 
    }  
a {
  position: fixed;
  top: 55%;
  left: 48%;
  font-size: 80px;
  text-decoration: none;
}
.flex-container {
    display: flex;
    background-color: black;
}
